<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/eb347de6eb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/home.css">
    <title>Portfolio</title>
</head>
<body>
<header>
    <nav class="container-fluid nav-search">
        <div class="row">
            <div class="col ">
                <div class="header-phone">
                    <i class="fa-solid fa-phone" aria-hidden="true"></i>
                    <span>+62 088 999 123</span>
                </div>
            </div>
            <div class="col">
                <form class="searcher">
                    <input class="txt-search" type="search" placeholder="Enter your search term" aria-label="Search">
                    <button class="btn-search" type="submit">
                        <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://via.placeholder.com/250x75" class="logo" alt="logo">
            </div>
            <div class="col">
                <ul class="nav-menu">
                    <li class="item"><a href="home.html">Home</a></li>
                    <li class="item"><a href="pricing-box.html">Pricing box</a></li>
                    <li class="item active"><a href="portfolio.html">Portfolio</a></li>
                    <li class="item"><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main></main>
<footer></footer>
</body>
</html>