$primary-header: rgba(211, 211, 211, 0.5);
$primary-variant-header: White;
$secondary-header: Red;

$primary-footer: rgba(211, 211, 211, 0.5);
$primary-variant-footer: rgba(211, 211, 211, 0.3);
$secondary-footer: Red;

$on-header: Gray;
$on-footer: Gray;

$hover: Red;