@import "../../node_modules/bootstrap/scss/bootstrap";

@import "header";
@import "footer";
@import "colors";
@import "functions";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    @extend %header-template
}

main {
    .route-container {
        background-color: $primary-main;
        padding: 30px;

        .container {
            padding: 0;

            .route {
                @extend %route
            }
        }
    }

    .contact-container {
        background-color: white;
        padding: 0;

        .map {
            padding: 0;
        }

        .contact-us {
            margin-top: 50px;

            h2 {
                font-weight: bold;
            }

            .line {
                background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);;
                height: 5px;
                width: 100%;
                margin: 20px 0;
            }

            form {
                input {
                    &:focus {
                        box-shadow: none;
                        border: 1px solid $secondary-main;
                    }
                }

                textarea {
                    &:focus {
                        box-shadow: none;
                        border: 1px solid $secondary-main;
                    }
                }

                .btn-send {
                    background-color: $secondary-main;
                    color: white;
                    font-weight: bold;
                    border-radius: 5px;
                    padding: 5px 0;
                    border: 0;
                    width: 100%;
                }
            }
        }
    }
}

footer {
    @extend %footer-template
}