@import "../../node_modules/bootstrap/scss/bootstrap";
@import "header";

@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(xl) {}
@include media-breakpoint-down(xxl) {}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    @extend %header-template
}